.caixacadastro{
    background-color: rgb(255, 255, 255);
    border: 2px solid #cccc;
    border-radius: 5px;
    position: absolute;
    top: 90%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    width: auto;
    height: auto; 
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    color: black;
}
label{
    text-align: center;
}
input{
    width: auto;
    margin-bottom: 5px;
    margin-left: 5px;
}
.caixacadastro h1 {
    margin-left: 30%;
    margin-bottom: 70%;
   display: block;
    font-size: 1.5em;
    position: fixed;
    flex-wrap: wrap;
     
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    


}
.linklogin{
    margin-left: 40%;
    flex-wrap: wrap;
    
}
.linklogin a{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: black;
}
@media (max-width: 768px) {
    .caixacadastro {
        top: 90%;  
        left: 40%;
        transform: translate(-50%, -50%);
        width: auto; 
        max-width: 300px; 
        padding: 15px; 
        
    }
    .caixacadastro h1{
        margin-left: 0;
        margin-bottom: 1em;
        font-size: 1em;
        text-align: center;
    }


}





    
