/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos da barra de navegação */
#navBar {
    background-color: black;
    padding: 0.5rem 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    flex-grow: 1;
}

.navbar-toggler-custom {
    border: 1px solid white;
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar {
    border-bottom: 5px solid white;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    background-color: #505050;
}

/* Estilos para o formulário de contato */
#fale {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem; /* Ajuste conforme necessário */
}

.form-group {
    margin-bottom: 1rem; /* Ajuste conforme necessário */
}

.form-control {
    width: 40rem; /* Ajuste conforme necessário */
}

.btn-primary {
    background-color: #007bff; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    width: 80px;
    height: 30px;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

#Alternativa {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}