.Espaco {
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
}
.Espaco2 {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
}
.Textoini{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 30;
    letter-spacing: 1px;
    text-align: center;
}

.mid {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: black;
    justify-content: space-evenly;
    
    
}
.logo2 img {
    max-width: 100%; 
    height: auto; 
}


@media (max-width: 768px) {
    .mid {
        height: auto; 
        padding: 20px; 
    }

    .Textoini h2 {
        font-size: 1.5em; 
    }
}

.mid > .Textoini{
    margin-top: 200px;
}



.caixas{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixinhas{
    background-color: white;
    width: 217px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.caixinhas > p{
    margin-left: 40px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;

}

.Apresent{
    margin-left: 90px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    
}

.Apresent-2{
    margin-left: 90px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
    
}

.Planos{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.Caixas_planos{
    margin-top: 50px ;
    background-color: white;
    width: 298px;
    height: 425px;
    display: grid;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    align-items: center;
    

}

.Caixas_planos > a{
    
    width: 150px;
    height: 25px;
    background-color: #009AED;
    display: flex;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    justify-content: center;
    margin-top: 40px;

}
.Faleconosco{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-between;
    flex-direction:column-reverse;
    margin-left: 6.6%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

}


 .Faleid{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    
}

.Disp{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: white;
    background-color: black;
}
.Fale{
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.Faleconosco > .Faleid > p{
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    

}
.Faleconosco > .Fale > p{
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    

}