.Espaco {
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
}

.mid {
    width: 100%;
    height: 90%;
    background-color: black;
}
.config_mid {
    width: 80%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Textoini{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 18pt;
    letter-spacing: 1px;
    text-align: center;
}

.logo2 {
    max-width: 100%;
}

.caixas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.caixinhas{
    background-color: white;
    width: 218px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    margin: 20px;
}

.caixinhas p{
    width: 80%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 14pt;
    letter-spacing: 1px;
    text-align: center;
}

.mid > .Textoini{
    margin-top: 200px;
}

@media (max-width: 768px) {
    .mid {
        height: auto; 
        padding: 20px; 
    }

    .Textoini h2 {
        font-size: 1.5em; 
    }
}

.Espaco2 {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
}

.Apresent{
    padding-left: 5%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-size: 13pt;
    font-weight: bold;
    
}

.Apresent-2{
    margin-left: 90px;
    color: black;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 14pt;
    text-align: start;
}

.Disp{
    text-align: center;
    font-size: 26pt;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: white;
    background-color: black;
}

.Planos{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.Caixas_planos{
    background-color: white;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    width: 298px;
    height: 425px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.Caixas_planos h4{
    font-size: 28pt;
    font-style: bold;
}

.Caixas_planos h1{
    font-size: 20pt;
}

.Caixas_planos a{
    width: 150px;
    height: 40px;
    background-color: #009AED;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 40px;
}

.Caixas_planos  a:hover{
    background-color: blue;
    color: white;
}

.Faleconosco{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-between;
    flex-direction:column-reverse;
    margin-left: 6.6%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.Faleconosco > .Faleid > p{
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.Faleconosco > .Fale > p{
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
}

 .Faleid{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.Fale{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}