footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center; 
}

.footer__content {
    text-align: center;
    padding: 2rem;
    width: 100%; 
    max-width: 1200px; 
}

.footer__content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0;
    margin: 0;
}

.user-box {
    flex: 1;
    max-width: 300px; 
    margin: 1rem;
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #ffffff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.user-picture img {
    width: 2.5rem;
    fill: currentColor;
}

.name-client {
    
    margin: 15px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.name-client span {
    display: block;
    font-weight: 400;
    font-size: 1.2rem;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1rem;
    margin: 0.5rem 0;
    
}

.social-media a {
    position: relative;
    margin-right: 3px;
}

.social-media a:last-child {
    margin-right: 0;
}

.footer__copyright {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.linha {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .user-box {
        flex-basis: 100%; 
        max-width: 100%;
    }
}
